*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    background-color: darksalmon;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: bisque;
    width: 780px;
    height: 540px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    box-shadow: 12px 16px 12px rgba(0, 0, 0, 0.3);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
}
.content h5{
    color: #3c3b3a;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: -28px;
}
.content h2{
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1.5;
    margin-bottom: -20px;
}
.content h2 strong{
    color: #3c3b3a;
}
.content p{
    color: #3c3b3a;
    line-height: 1.7;
}
.content .cost{
    display: flex;
    align-items: center;
}
.content .cost .current{
    font-size: 40px;
    font-weight: 800;
}
.content .cost span{
    margin-left: 60px;
    color: #3c3b3a;
    text-decoration: line-through;
    font-size: 16px;
    font-weight: 400;
}
.content input{
    background-color: #ff6f61;
    color: white;
    padding: 12px 0;
    border: none;
    outline: none;
    border-radius: 24px;
}

@media screen and (max-width: 475px) {
    .container{
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 2rem 1rem;
        overflow: hidden;
    }
    img{
        border-bottom-left-radius: 0;
        overflow: hidden;
    }
    .content h5{
        margin-bottom: 12px;
    }
    .content h2{
        margin-bottom: 20px;
    }
    .content p{
        margin-bottom: 16px;
    }
    .content .cost{
        margin-bottom: 16px;
    }
}
